# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Virtual environment
venv/
env/
myenv/
# Flask specific
instance/
*.db

# VSCode
.vscode/

# MacOS
.DS_Store
#node modules
node_modules/
#Env module
.env
medical_docs/
medichat-457610-72b7fae1ad7e.json
env